tr {
    .td2 {
       text-align: center;
       justify-content: center;
       padding: 8px;
       background-color: rgba(7, 17, 163, 0.1);
    }
    .td1 {
        background-color: rgb(138, 119, 119);
    }

}
